<!DOCTYPE html>
<html class="light" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title,script)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

</head>

<body class="bg-white text-gray-900 dark:bg-[#131414] dark:text-white pt-16">

    <!-- Navbar -->
    <div th:replace="~{navbar :: navbar}"></div>

    <!-- Main content -->
    <div class="dark:bg-gray-900 dark:text-white min-h-screen">
        <main class="max-w-7xl mx-auto px-6 py-8  pt-16 ">
            <section th:replace="${content}"></section>
        </main>
    </div>
    <!-- Footer -->
    <footer class="p-4 text-gray-600 dark:text-gray-400">
        This is footer
    </footer>

    <script th:src="@{/js/script.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>


</body>

</html>