<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content)">
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

<body>

    <ul>
        <li>
            <a th:href="@{'/home'}">Home</a>
        </li>
        <li>
            <a data-th-href="@{'/service'}">Service</a>
        </li>
        <li>
            <a data-th-href="@{'/about'}">About</a>
        </li>
    </ul>

    <!--Main content-->
    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>


    <footer p-4>This is footer</footer>



    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</body>

</html>

</html>