<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content)">

<head>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Navbar -->
    <div data-th-replace="navbar :: navbar"></div>

    <!-- Main content -->
    <div class="p-4 mt-16">
        <section th:replace="${content}"></section>
    </div>

    <!-- Footer -->
    <footer class="p-4">This is footer</footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

</body>

</html>