<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{:: title},~{:: script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact </title>
</head>

<body>


    <div id="content">
        <h1> Welcome to contact page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt aut nihil debitis facere consequuntur. Excepturi corporis delectus dolor obcaecati cumque esse maxime distinctio ratione vero? Itaque numquam odio quidem.hhhhhhhhhhhhhh</p>
    </div>
    <script>
        console.log(" contact page");
    </script>


</body>

</html>