<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container {
            margin: auto;
            width: 50%;
            padding: 30px;
            background-color: antiquewhite;
        }
    </style>
</head>


<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to Our Home Page</h1>
        <p>Youtube Channel : <span th:text="${YoutubeChannel}"></span></p>
        <p>GitHub Link: <span th:text="${GithubRepo}"></span></p>

        <a data-th-href="${GithubRepo}">Click here</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore error maiores, repellat nemo quaerat at odit earum tempore, explicabo aperiam enim illo architecto rem laboriosam temporibus iusto, reiciendis pariatur! Obcaecati facilis
            at pariatur alias voluptas dignissimos iure quam ipsum labore, itaque voluptatem? Ducimus dolore nisi quis modi, voluptatum laudantium?</p>

    </div>
</body>

</html>