<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{:: title},~{:: script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>

</head>

<body>
    <section id="content">
        <h1>Welcome to service </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni excepturi doloribus quis fuga voluptas? Aperiam aliquid, commodi delectus obcaecati veritatis deleniti tempora omnis architecto nesciunt quam temporibus perferendis optio consequuntur.</p>
    </section>

</body>
<script>
    console.log("service");
</script>

</html>