<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: parent(~{::#content},~{:: title},~{:: script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp </title>
</head>

<body>


    <div id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-4  md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class=" col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <a href="#" class="bg-neutral-primary-soft block p-6 border border-default rounded-base shadow-xs hover:bg-neutral-secondary-medium">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">SignUp here</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Start managing contacts on cloud.....</p>
                </a>

            </div>
        </div>

    </div>
    <script>
        console.log("signUp page");
    </script>


</body>

</html>